<div class="popup emailPopup">
    <div class="header">
        <h3>New E-Mail <span class="right"><a href class="btn" data-ng-click="close()">cancel</a></span></h3>
    </div>
    <div class="content">
        <form>
            <label for="to">To:</label>
            <input id="to" type="text" name="to"/>

            <label for="subject">Subject:</label>
            <input class="input-block-level" id="subject" type="text" name="subject" placeholder="Subject..."/>
        </form>

    </div>
</div>
